* {
	padding:0px;
	margin:0px;
	font-family:'Droid Sans', Tahoma;
}
body {
	background:#101010;
	/*background:#00000;*/
}
.main {
	margin:0px auto 0px auto;
	width:892px;
}
.top{
	width:892px;
	height:79px;
	margin-top:30px;
	background:url(images/top.jpg) no-repeat;
}
.header {
	width:892px;
	height:234px;
	background:url(images/header.jpg) no-repeat;
}
.in {
	background:url(images/in.jpg) center repeat-y;
	width:892px;
}
.content {
	background:url(images/bot.jpg) no-repeat bottom center;
	width:892px;
}
.clear{
	clear:both;
}
a img {
	border:0px;
}
.page {
	padding:0px 30px 70px 30px;
	font-size: 14px;
	color:#011500;
}
input {
	border:#031700 1px solid;
	margin:10px 23px;
	padding:5px 5px 5px 3px;
	font-family:'Droid Sans', Tahoma;
	font-size:16px;
}
a {
	color:#060;
	text-decoration:none;
}
a:hover {
	color:#000;
}
hr {
	color:#060;	
}
.title {
	margin-left:50px;
	font-family:'Droid Sans', Tahoma;
	font-size:18px;
	color:#030;
	font-weight:bold;
}

.search_res:hover{
	background:#ababab;
}

.search_res_table {
	width: 100%;
}

#result_toggler{
	display:none;
}

.message{
	margin-left: 15px;
	color:green;
}

.fileds {
	padding-left:23px;
}
#apply_button {
	text-align:right;
}

.select_input{
	margin-left:22px;
	width:205px;
}

.table_row_dummy{
	height: 10px;
}

.options {
	width: 5%;
}

.add_button {
	border:0px;
}

#footer {
	font-size:11px;
	color:#699A00;
	text-align:center;
}