<form method="GET" action="#" id="search_form">
	<input id="searchSuggestion" name="search_input" type="text" placeholder="SEARCH YOUR ITEM HERE" size="50px" onfocus="value=''"/>
	<input type="submit" id="search_button" value="Search" />
</form>