<div class = "fileds">
<!-- SEARCH -->
<table class="search_res_table">
	<tr><th class="options"></th><th>Category Name</th><th>Category Description</th>
		<th>Product Name</th><th>Product Description</th>
		<th>Level of Product</th></tr>
	<!-- SEARCHRESULT -->
	<tr class="search_res">
		<td><a href="#" onclick="window.location = 'delete_product.php?id=[ID]'"><img src="layout/images/cancel.png" /></a>
		<a href='edit_product.php?eid=[ID]'><img src="layout/images/edit.png" /></a></td>
		<td>[CATEGORY]</td><td>[CAT_DESCRIPTION]</td>
		<td>[PRODUCT_NAME]</td><td>[PR_DESCRIPTION]</td>
		<td>[LEVEL]</td>
	</tr>
	<!-- /SEARCHRESULT -->
	<tr class="table_row_dummy"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td><strong>Total Available Levels:</strong></td><td></td><td>[TOTAL]</td></tr>
</table>
<!-- /SEARCH -->
<!-- NORES -->
	<br />
	No products has been found.
<!-- /NORES -->
</div>
