<div class = "fileds">
	<form action="edit_product_execute.php" method="post">
			<table>
				<tr><td> Product Name:</td><td><input type="text" size="40" name="product" value="[PRODUCT]" required/></td></tr>
				<tr><td> Product Description:</td><td><input type="text" size="40" name="product_desc" value="[PRODUCT_DESCRIPTION]" required/></td></tr>
				<!-- STOCK -->
				<tr><td> [STOCK_STATUS] Stock:</td><td><input type="text" size="20" name="stock_[STOCK_VID]" value="[VALUE]" required/>[TIMESTAMP]</td></tr>
				<!-- /STOCK -->
				<tr><td>Add Adjustment:</td><td>
					<select name="new_adjust" class="select_input">
						<option value="empty" selected>SELECT TYPE</option>
						<option value="Incoming">In Stock</option>
						<option value="Outgoing">Out of Stock</option>
					</select>
					<input type = "text" size = "13" name="adjustment_val" />
				</td></tr>
				<tr><td>Category of Product:</td><td>
					<select name="category_id" class="select_input">
						<!-- CATEGORY_OPTION_SELECTED -->
						<option value="[CATEGORY_ID]" selected>[CATEGORY]</option>
						<!-- /CATEGORY_OPTION_SELECTED -->
						<!-- CATEGORY_OPTIONS -->
						<option value="[CATEGORY_ID]">[CATEGORY]</option>
						<!-- /CATEGORY_OPTIONS -->
					</select>
				</td></tr>
			</table>
			<input type="hidden" name="id" value="[ID]" />
			
		<div id="apply_button" class="clear">
			<input class="add_button" type="image" src="layout/images/apply.jpg" value="Add this" />
		</div>
	</form>
</div>