<div class = "fileds">
	<form action="add_product_execute.php" method="post">
			<table>
				<tr><td> Product Name:</td><td><input type="text" size="40" name="product" required/></td></tr>
				<tr><td> Product Description:</td><td><input type="text" size="40" name="product_desc" required/></td></tr>
				<tr><td height="10px"></td></tr>
			</table>
			
			<span>Category of Product:</span>
			<select name="category_id" class="select_input">
				<!-- CATEGORY_OPTIONS -->
				<option value="[CATEGORY_ID]">[CATEGORY]</option>
				<!-- /CATEGORY_OPTIONS -->
			</select>
		<div id="apply_button" class="clear">
			<input class="add_button" type="image" src="layout/images/apply.jpg" value="Add this" />
		</div>
	</form>
</div>