<!-- TOP -->
	<div class="message">[MESSAGE]</div>
	<div class="input_bar">[INPUTBAR]</div>
<!-- /TOP -->
<!-- MIDDLE -->
<div class="clear"></div>
<div id="result_toggler">[MIDDLE]</div>
<div class="clear"></div>
<!-- /MIDDLE -->